.header {
    /* background: linear-gradient(90deg, #e51cc4, #e51cc491, #e51cc4, #e51cc491, #e51cc4, #e51cc491, #e51cc4); */
    background-image: url("../images/background-header.webp");
    height: 120px;
    font-family: FuturaNowScript-Bd;
    color: #150698;
    padding-top: 5px;
    font-size: 110%;
}

.header h1 {
    display: flex;
    float: left;
    margin-left: 10px;
    font-size: 110%;
}

.languageSelect {
    color: #00f;
    float: right;
    font-family: TimesNewRoman;
    margin-right: 15px;
    font-weight: bold;
    height: 40px;
}

.languageSelect select {
    height: 35px;
    font-size: 14px;
    padding-top:4px;
}

.clear {        
    clear: both;
}

#menu nav {
    justify-items:center;
    font-family: TimesNewRoman;
    color:aliceblue;
}

#menu ul {
    display: flex;
}

#menu ul li {
    display: flex;
    float: left;
    margin-right: o;
}

#menu ul li a {
    background: linear-gradient(180deg, #9d97c3, #150698);
    background-origin: border-box;
    border: 4px solid transparent;
    border-radius: 15px;
    font-size: 120%;
    cursor: pointer;
    margin: 8px 20px;
    padding: 0 20px;
    text-decoration: none;
}

#menu ul li a:hover {
    background: linear-gradient(180deg, #150698, #9d97c3);
    border-color: #ca910d;
}