.contayner_for_pyatnashki {
    width: 400px;
    height: 450px;
    margin: 0 auto 0;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    font-size: 50px;
}

.pyatnashki_title {
    font-family: FuturaNowScript-Bd;
    color: brown;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
}

.pyatnashki_title span {
    font-family: TimesNewRoman;
}

.pyatnashki_description {
    font-family: FuturaNowScript-Bd;
    color: brown;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
}

.pyatnashka {
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF4500;
    color:blue;
    font-weight: bold;
}

.null {
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

/* media */
@media screen and (max-width: 401px) {
    .contayner_for_pyatnashki {
        width: 300px;
        height: 300px;
    }
}